.clients-list {
  @include grid;
}
.clients-list__item {
    height: 92px;
      flex-basis: calc((100% - $gap)/2);
    
    
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2*$gap)/3);
    }
    
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 5 * $gap)/6);
    }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: $client-link-color;

  border: 1px solid $client-link-color;
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: $anim-time;
  transition-timing-function: $anim-ft;

  &:hover,
  &:focus {
    color: $color-accent;

    border: 1px solid $color-accent;
  }
}

.clients-list__icon {
  fill: currentColor;
}
