.gallery-list {
  @include grid;
}

.gallery-list__item {
    transition-property: box-shadow;
    transition-duration: $anim-time;
    transition-timing-function: $anim-ft;
    
      @media screen and (min-width: 768px) {
        flex-basis: calc((100% - $gap)/2);
      }
    
      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 2 * $gap)/3);
      }


  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
  }
}

.gallery-list__item:hover .project__overlay {
  transform: translateY(0);
}
